---
layout: default
---

<section class="banner" id="banner">
    <div class="content">
        <h2>Alexis Guijarro</h2>
        <p>MSc. in CS, Mechatronics Engineer</p>
        <a href="#" class="btn">Menu</a>
    </div>
</section>

<section class="about" id="about">
    <div class="row">
        <div class="col50">
            <h2 class="titleText"><span>A</span>bout</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil magni voluptatibus laudantium nesciunt
                nemo possimus recusandae, et reiciendis non aspernatur, necessitatibus cumque a vel commodi
                accusantium dignissimos dolorum quibusdam? Maxime!</p>
        </div>
        <div class="col50">
            <div class=imgBx></div>
            <img src="/assets/img/qrcode.png">
        </div>
    </div>
</section>


<!---{% include ghchart.html %}--->
<!--{% include tw_timeline.html %}-->